@import "adorning_events";
@import "header";

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Medium.eot');
  src: local('../fonts/ubuntu/Ubuntu Medium'), local('../fonts/ubuntu/Ubuntu-Medium'),
  url('../fonts/ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu/Ubuntu-Medium.woff2') format('woff2'),
  url('../fonts/ubuntu/Ubuntu-Medium.woff') format('woff'),
  url('../fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Bold.eot');
  src: local('../fonts/ubuntu/Ubuntu Bold'), local('../fonts/ubuntu/Ubuntu-Bold'),
  url('../fonts/ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu/Ubuntu-Bold.woff2') format('woff2'),
  url('../fonts/ubuntu/Ubuntu-Bold.woff') format('woff'),
  url('../fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-LightItalic.eot');
  src: local('../fonts/ubuntu/Ubuntu Light Italic'), local('../fonts/ubuntu/Ubuntu-LightItalic'),
  url('../fonts/ubuntu/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu/Ubuntu-LightItalic.woff2') format('woff2'),
  url('../fonts/ubuntu/Ubuntu-LightItalic.woff') format('woff'),
  url('../fonts/ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Regular.eot');
  src: local('../fonts/ubuntu/Ubuntu Regular'), local('Ubuntu-Regular'),
  url('../fonts/ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2'),
  url('../fonts/ubuntu/Ubuntu-Regular.woff') format('woff'),
  url('../fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Light.eot');
  src: local('../fonts/ubuntu/Ubuntu Light'), local('../fonts/ubuntu/Ubuntu-Light'),
  url('../fonts/ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu/Ubuntu-Light.woff2') format('woff2'),
  url('../fonts/ubuntu/Ubuntu-Light.woff') format('woff'),
  url('../fonts/ubuntu/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Regular.eot');
  src: local('../fonts/open-sans/Open Sans Regular'), local('../fonts/ubuntu/OpenSans-Regular'),
  url('../fonts/open-sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/open-sans/OpenSans-Regular.woff') format('woff'),
  url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Ubuntu', Arial, sans-serif !important;
}
